.name_box[guest_group = 'א']{
    background-color: rgba(117, 224, 119, 0.715);
}
.name_box[guest_group = 'ב']{
    background-color: rgba(212, 83, 135, 0.686);
}
.name_box[guest_group = 'ג']{
    background-color: rgba(83, 177, 20, 0.715);
}
.name_box[guest_group = 'קיבוץ']{
    background-color: rgba(119, 39, 95, 0.715);
}
.name_box[guest_group = 'קיבוץ_א']{
    background-color: rgba(147, 78, 194, 0.715);
}
.name_box[guest_group = 'קיבוץ_ב']{
    background-color: rgba(25, 78, 177, 0.715);
}
.name_box[guest_group = 'קיבוץ_ג']{
    background-color: rgba(192, 190, 57, 0.715);
}
.name_box[guest_group = 'קיבוץ_ד']{
    background-color: rgba(226, 38, 38, 0.715);
}
.name_box[guest_group = 'שנה_א']{
    background-color: rgba(55, 194, 78, 0.534);
}
.name_box[guest_group = 'אברכים']{
    background-color: rgba(72, 110, 212, 0.651);
}