select, input{
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
.file_input{
    margin: 15px;
}
#mainBord{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    padding: 50px;
}
.form_cont{
    background-color: #2b4e81;
    margin: 10px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.file_input{
    background-color: #76a8f3;
    padding: 10px;
    border-radius: 5px;
    height: 20px;
}
.popUpBody > .form_cont{
    background-color: #2b4d8100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}