@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 13px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
form{
    margin: 10px;
}
a, label{
    color: white;
    font-size: 20px;
}
a:hover{
    color: yellow;
}
#content{
    z-index: 30;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8% 92%;
    grid-template-columns: 85% 15%;
}
#topBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: chartreuse;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 20;
    font-size: 40px;
    margin: 0;
    padding: 0;
    background-color: rgb(130, 101, 211);
}
#topBar > ul{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.user_icon{
    padding-left: 50px;
    user-select: none;
}
.user_icon:hover{
    cursor: pointer;
    color: rgb(241, 210, 151);
}
#mainBord{
    overflow: auto;
    background-color: rgb(54, 48, 45);
}
#mneu{
    z-index: 20;
    padding: 10px;
    background-color: rgb(120, 140, 228);
}
.side_menu{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#select_seats{
    background-color: gray;
}
#select_cells{
    background-color: tomato;
}